<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>XE Vue 111: Props + v-bind</title>
	</head>
	<body>
		<h1>Hello</h1>
		<!-- 2 -->
		<div id="app">
			<!-- 3-->
			{{ msg | uppercase5 }}!!!
			<!-- 4-->
			<br /><b><!-- 5+bonus-->{{ lowerMsg | capitalize }}</b>
			<!-- 7 modifiers: https://vuejs.org/v2/api/#v-on -->
			<!-- 6 --><button v-on:click.once="doSomething">Click me (once)</button>
			<!-- 6+bonus -->
			<button @click.right="doSomething('dotnet')">do .NET (right)</button>
			<div>
				<!-- 8   -->
				<label>Edit message: <input v-model="msg"/></label>
				<!-- 8+bonus modifiers: https://vuejs.org/v2/api/#v-model -->
				<label>Lazy+trim: <input v-model.lazy.trim="msg"/></label>{{ msg.length }}
			</div>
			<!-- 9 -->
			<p v-if="msg.includes('net')">
				.NET Rocks, but <u>JavaScript & <strong>TS</strong> WIN!</u>
			</p>
			<code v-show="msg.includes('java')">JAVA (never) RULEZ but is still there...</code>
			<!-- 10 -->
			<ul>
				<!-- 10+bonus -->
				<li v-for="(item,idx) in arr" :key="idx">
					<b>{{typeof item}}</b> @{{ idx }}
					{{ item }}
				</li>
			</ul>
			<button @click="addTo(true)">Start</button><button @click="addTo()">End</button>
			<button @click="update(Math.floor(Math.random()*arr.length))">Update</button>
			<!-- 11 -->
			<hr />
			<xe-event v-bind:title="msg" event-date="2019-03-22T20:00:00"><!-- 12 --></xe-event>
		</div>

		<!-- 1 -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<!-- 11+bonus -->
		<script type="text/x-template" id="xe-event-tpl">
			<div>
			    <h2>You can <a href="https://vuejs.org/v2/guide/components-edge-cases.html#X-Templates">externalize template</a></h2>
			    {{speaker}}
			    <!-- 12 -->
			    <article>{{ title }} </article>
			    <aside>{{ eventDate }}</aside>
			</div>
		</script>

		<script>
			// 5+bonus
			Vue.filter("capitalize", function(str) {
				return String(str || "")
					.split(" ")
					.map(s => s.charAt(0).toUpperCase() + s.substr(1))
					.join(" ");
			});

			// 11
			Vue.component("xe-event", {
				//data: { speaker: "Pluto" }, //THIS DOESN'T WORKS!
				//MUST BE A FUNCITION THAT RETURN INSTANCE DATA !!!
				data() {
					return { speaker: "Pluto" };
				},
				props: ["title", "eventDate"], // 12
				template: "#xe-event-tpl" //"<div>{{speaker}}</div>" // 11+bonus "#xe-event-tpl"
			});

			// 1
			var app = new Vue({
				el: "#app", // 2
				data: {
					// 10
					arr: ["Pippo", 123, { e: "Pluto" }],
					msg: "World" // 3
				},
				computed: {
					// 4
					lowerMsg() {
						return this.msg.toLowerCase();
					}
				},
				filters: {
					// 5
					uppercase5(s) {
						return String(s || "").toUpperCase();
					}
				},
				methods: {
					// 6
					doSomething(txt) {
						this.msg = "XE" + (txt || "java"); // 6+bonus
					},
					// 10+bonus
					addTo(first) {
						console.log("ADDTO", first ? "first" : "last");
						if (!first) {
							//this.arr.push(this.msg); //Vue array methods rewrited
							this.arr = [...this.arr, this.msg]; //euristiscts works!
						} else {
							this.arr.unshift(this.msg); //https://vuejs.org/v2/guide/list.html#Mutation-Methods
							//this.arr = [this.msg, ...this.arr];
						}
					},
					update(idx) {
						console.log("UPDATE", idx);
						//this.arr[idx] = this.msg; //DON'T WORK https://vuejs.org/v2/guide/list.html#Replacing-an-Array
						this.$set(this.arr, idx, this.msg); //You must help the Vue "reactivity system" ...until 3.0 ^_^
					}
				}
			});

			//TODO: OPEN CONSOLE AND RUN
			//app.msg = "XE"; // 3+bonus
		</script>
	</body>
</html>
